main h5 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

main img {
    margin-bottom: 1rem;
    max-width: 100%;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main table th, campaign table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}