main {
    padding: 2rem;
    flex-grow: 1;
}

main button {
    padding: 0.5rem 1rem;
    background-color: #083000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main button:hover {
    background-color: #00b600;
}

main h5 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

main img {
    margin-bottom: 1rem;
    max-width: 100%;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main table th, campaign table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}