main h5 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

main img {
    margin-bottom: 1rem;
    max-width: 100%;
}

main table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

main table th, main table td, campaign table td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

/* Add this CSS to make the button smaller */
button.donate.small {
    font-size: 0.8rem; /* Adjust the font size as needed */
    padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
}
